---
interface Props {
  id: string;
  url: string;
  title: string;
}

const { id, url, title } = Astro.props as Props;
---
<div id="comments_section" style="display: none;">
  <p class="text-lg mb-2">Leave a comment!</p>
  <div id="cusdis_thread"
    class="min-h-72 overflow-visible"
    data-host="https://cusdis.ssebs.com" data-app-id="0c226863-0ff4-4600-a25c-225a088d5aa9"
    data-page-id={id} data-page-url={url} data-page-title={title}
    data-theme="dark">
  </div>
  <script async defer src="https://cusdis.ssebs.com/js/cusdis.es.js"></script>
</div>

<script>
  fetch('https://cusdis.ssebs.com/js/cusdis.es.js', { method: 'HEAD' })
    .then(response => {
      if (response.ok) {
        // If the server responds successfully, display the comment section
        document.getElementById('comments_section')!.style.display = 'block';
      }
    })
</script>
