#menu .logo-switches {
    margin-left: 32px;
}

.header {
    border-bottom: 2px solid #41afff;
}

.footer {
    background-color: #41afff;
    max-width: 100%;
    color: var(--theme);
    font-size: 14px;
}

.blue-section {
    border: 2px solid #41afff;
}

.blue-section>.main {
    min-height: auto;
    margin-top: 0;
    padding-top: 0;
}

.first-entry {
    justify-content: start;
    /* border: 2px solid #41afff; */
}

.main>.post-content img {
    border-radius: 100%;
}