<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}

<body class="bg-neutral-800 text-white">
    {{- partial "header.html" . -}}
    {{/* Container */}}
    <div class="flex justify-center bg-neutral-900">
        {{- if .IsHome }}
        {{- block "main" . }}{{- end }}
        {{- else }}
        {{/* 2 col contents */}}
        <div class="grid lg:grid-cols-4 gap-4 my-6 px-6">
            <div class="lg:col-start-4 lg:w-[16rem] w-full lg:row-start-1 row-start-2 justify-self-center ">
                {{- partial "sidebar.html" . -}}
            </div>
            <div class="lg:col-start-1 lg:col-span-3 lg:row-start-1 lg:max-w-4xl w-full ">
                {{- block "main" . }}{{- end }}
            </div>
        </div>
        {{- end }}
    </div>
    {{- partial "footer.html" . -}}
</body>

</html>