<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}

<body class="text-white">
{{/* Responsive spacer test */}}
{{/* <div class="w-full py-2 border border-red-500">
    <div class="h-20  w-[640px] border border-green-600 text-center text-xl">sm 640px</div>
    <div class="h-20  w-[768px] border border-green-600 text-center text-xl">md 768px</div>
    <div class="h-20  w-[1024px] border border-green-600 text-center text-xl">lg 1024px</div>
    <div class="h-20  w-[1280px] border border-green-600 text-center text-xl">xl 1280px</div>
    <div class="h-20  w-[1536px] border border-green-600 text-center text-xl">2xl 1536px</div>
</div> */}}

  {{- partial "header.html" . -}}
  <div class="flex justify-center">
    {{- if .IsHome }}
    {{- block "main" . }}
    {{- end }}
    {{- else }}
    <div class="m-4">
      {{ partial "breadcrumbs.html" . }}
      {{/* 2 col contents */}}
      <div class="grid lg:grid-cols-4 gap-4 mb-6">
        <div class="lg:col-start-4 lg:w-[16rem] w-full lg:row-start-1 row-start-2 justify-self-center self-baseline top-6 sticky">
          {{- partial "sidebar.html" . -}}
        </div>
        <div class="lg:col-start-1 lg:col-span-3 lg:row-start-1 lg:max-w-6xl w-full">
          {{- block "main" . }}{{- end }}
        </div>
      </div>
    </div>
    {{- end }}
  </div>
  {{- partial "footer.html" . -}}
</body>

</html>