{{- define "main" }}

{{- if .IsHome }}
{{ partial "home.html" . }}
{{- else }}
<div class="grid p-6 bg-neutral-800 drop-shadow-2xl rounded-t-md border-b-2 border-b-primary">
		<h1 class="text-2xl">
			{{- .Title -}}
		</h1>

		{{- if .Content }}
		<div class="post-content">{{ .Content }}</div>
		{{- end }}

	<div class="grid md:grid-cols-2 gap-6">
		{{ range .Pages }}
		{{/*  TODO: MOVE THIS TO A CARD COMPONENT */}}
		<a href="{{- .RelPermalink -}}">
			<div class="grid gap-4 p-6 bg-neutral-900 drop-shadow-2xl rounded-t-md border-b-2 border-b-primary">
				<div class="text-xl font-medium">
					{{ .Title }}
				</div>
				
				{{- if .Params.feature }}
				<img src="{{- .Params.feature | safeHTML -}}" alt="{{- .Params.feature | plainify -}}" width="auto">
				{{- end}}

				<p class="text-lg text-white-dim">{{- .Params.ShortDesc | safeHTML -}} </p>
				<div class="tag-box flex flex-wrap gap-2 text-base">
					{{ range .Params.tags }}
					<div class="px-2 text-quaternary rounded-md border border-quaternary">
						{{ . }}
					</div>
					{{- end }}
				</div>
			</div>
		</a>
		{{- end }}
		{{- end }}
	</div>
</div>
{{- end }}