{{- define "main" }}
<div class="grid gap-6 p-6 bg-neutral-900 drop-shadow-2xl rounded-t-md border-b-2 border-b-primary">
  <div class="flex justify-between flex-wrap">
    <h1 class="text-2xl">{{- .Title -}}</h1>

    {{/* Tags */}}
    {{- with .Params.tags -}}
    <div class="flex flex-wrap gap-2 text-base h-fit">
      {{ range . }}
      <a href="./tags/{{- . -}}"
        class="px-2 text-quaternary rounded-md border border-quaternary hover:bg-quaternary hover:text-black">
        {{ . }}
      </a>
      {{- end }}
    </div>
    {{- end -}}
  </div>

  {{- if .Content }}
  <div class="post-content">{{ .Content }}</div>
  {{- end }}

  {{- if in .RelPermalink "blog" }}
  <div>
    <p class="text-lg mb-2">Leave a comment!</p>
    <div id="cusdis_thread" 
    class="min-h-72 overflow-visible"
    data-host="https://cusdis.ssebs.com" data-app-id="0c226863-0ff4-4600-a25c-225a088d5aa9"
      data-page-id="{{ .File.UniqueID }}" data-page-url="{{ .Permalink }}" data-page-title="{{ .Title }}"
      data-theme="dark">
    </div>
    <script async defer src="https://cusdis.ssebs.com/js/cusdis.es.js"></script>
  </div>
{{- end }}

</div>
{{- end }}