<ul class="my-2 flex text-neutral-200">
    {{- range .Ancestors.Reverse }}
    {{- if .IsHome -}}
        <li class=""><a href="{{ .RelPermalink }}">Home</a></li>
    {{- else }}
        <li class=""><a href="{{ .RelPermalink }}">
            {{- with .Slug }}
            {{- . | title -}}
            {{- else }}
            {{ replace .Path "/" "" | title }}
            {{- end }}
        </a></li>
        {{- end }}
        <div class="mx-1" >&gt;</div>
    {{- end }}
    <li class=""><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
</ul>