<ul class="my-2 flex text-white-dim flex-wrap items-center">
    {{- range .Ancestors.Reverse }}
    {{- if .IsHome -}}
        <li class="breadcrumb-item"><a href="{{ .RelPermalink }}" class="breadcrumb-link">Home</a></li>
    {{- else }}
        <li class="breadcrumb-item"><a href="{{ .RelPermalink }}" class="breadcrumb-link">
            {{- with .Slug }}
            {{- . | title -}}
            {{- else }}
            {{ replace .Path "/" "" | title }}
            {{- end }}
        </a></li>
        {{- end }}
        <div class="mx-1 breadcrumb-item breadcrumb-separator">&gt;</div>
    {{- end }}
    <li class="breadcrumb-item"><a href="{{ .RelPermalink }}" class="breadcrumb-link text-quaternary">{{ .Title }}</a></li>
</ul>