{{ $c := .Scratch.Get "color" }}
{{ $f := .Scratch.Get "onclick" }}
{{ $l := .Scratch.Get "label" }}
{{ $dark := .Scratch.Get "isDark" }}

{{/*  TODO: Set text-white if dark, text-black if light for contrast  */}}

<button
    {{ printf "onclick=%q" $f | safeHTMLAttr }}

    class="px-5 py-2.5 rounded-lg text-white text-sm tracking-wider font-medium border border-current outline-none bg-{{ $c }}-600 hover:bg-{{ $c }}-700 active:bg-{{ $c }}-600"
    
    type="button"
    >
    {{ $l }}
</button>
