<footer class="bg-primary-800 min-h-64">
    <div class="grid justify-center p-6">
        <h5 class="text-3xl text-white font-thin text-center p-8">Thanks for checking out my website!</h5>
        <div
            class="flex lg:flex-row lg:items-start lg:max-w-6xl flex-col justify-between items-start w-full m-6 gap-12 text-lg">
            <div class="flex justify-between items-end gap-6 min-w-80">
                <img class="w-28 h-fit" src="./img/RocketOnly.png" alt="logo" />
                <div class="flex flex-col items-start gap-2 min-w-48">
                    <a href="/" class="font-medium hover:text-quinary">
                        {{- .Title -}}
                    </a>
                    <ul>
                        {{- range site.Menus.main }}
                        <li class=''>
                            <a href="{{ .URL }}" title="{{ .Title | default .Name }}"
                                class="text-quinary hover:text-quaternary">
                                {{- with .Page }}
                                {{- .Params.ShortDesc | safeHTML -}}
                                {{- else }}
                                {{- .Name }}
                                {{- end }}
                            </a>
                        </li>
                        {{- end }}
                    </ul>
                </div>
            </div>

            <div class="grid gap-2 max-w-md text-base font-normal">
                <h5 class="text-xl font-medium">Why <span class="text-quaternary">ssebs</span>?</h5>
                <p>
                    When I was a kid and I had to come up with my first username, I ended up trying to find something
                    using my initials.
                </p>
                <p>
                    Seb was taken, and so was SebS, so I added "S" from my last name at the front and the back.
                </p>
                <p>
                    ssebs - S Seb S
                </p>
                <p>...very interesting, I know!</p>
            </div>

            <div class="min-w-32 flex flex-col">
                <div class="text-xl">Socials</div>
                <ul>

                    {{/* Sort socials by weight */}}
                    {{ $socials := site.Params.socials }}
                    {{ $socialArray := slice }}
                    {{ range $name, $obj := $socials }}
                    {{/* If adding to params, also hard code the key here */}}
                    {{ $socialArray = $socialArray | append (dict "name" $name "text" $obj.text "link" $obj.link
                    "weight" $obj.weight) }}
                    {{ end }}
                    {{ $sortedSocials := sort $socialArray "weight" "asc" }}

                    {{- range $sortedSocials }}
                    <li>
                        <a href="{{ .link }}" title="{{ .name }}" class="text-quinary hover:text-quaternary"
                            target="_blank">
                            <span>
                                {{- .name | title | safeHTML -}}
                                {{/* Add arrow icon showing external page */}}
                                <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                                    viewBox="0 0 24 24" height="12" width="12"
                                    style="display: inline; vertical-align: top;">
                                    <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                                    <path d="M15 3h6v6"></path>
                                    <path d="M10 14L21 3"></path>
                                </svg>
                            </span>
                        </a>
                    </li>
                    {{- end }}
                </ul>
            </div>

        </div>
    </div>
    <div class="text-center bg-neutral-700 p-6">
        <span id="copyright-year">&copy;2024 - %lt;this should be replaced by js%gt;</span>
    </div>
</footer>

<script>
    // Set copyright year from current date
    const copyElement = document.getElementById("copyright-year");
    const current = new Date().getFullYear();
    const fromYear = {{ .Site.Params.copyright_start_year -}};

    const authorHTML = `<a 
                            href="{{- .Site.Params.Socials.LinkedIn.Link -}}" 
                            class="text-quaternary hover:text-quinary" target="_blank" 
                            >
                                {{ .Site.Params.author | safeJS -}}
                        </a>`;

    if (current === fromYear) {
        copyElement.innerHTML = `&copy;${current} | ${authorHTML}`;
    } else {
        copyElement.innerHTML = `&copy;${fromYear} - ${current} | ${authorHTML}`;
    }

</script>