<head>
  {{/*  Use BaseURL only if set (for gh-pages)  */}}
  {{- if .Site.Params.UseBaseURL -}}
    <base href="{{- .Site.BaseURL -}}" />
  {{- else -}}    
    <base href="/" />
  {{- end -}}
  <title> {{ .Site.Title }} </title>
  <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
  <meta name="description" content="{{- .Site.Params.description }}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UAT-Compatible" content="IE=edge">
   

  {{/*  Ubuntu font  */}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">


    <meta name="theme-color" content="#41afff">
    {{/*  TailwindCSS  */}}
  <script src="https://unpkg.com/tailwindcss-cdn@3.4.3/tailwindcss.js"></script>
  <script>
    tailwind.config = {
      theme: {
        fontFamily: {
          'sans': ["Ubuntu", "Sans-serif"]
        },
        extend: {
          colors: {
            "primary": {
              DEFAULT: "#41afff",
              '50': '#eff7ff',
              '100': '#dfeeff',
              '200': '#b8dfff',
              '300': '#78c6ff',
              '400': '#41afff',
              '500': '#068df1',
              '600': '#006fce',
              '700': '#0058a7',
              '800': '#024b8a',
              '900': '#083f72',
              '950': '#06274b',
            },
            "secondary": {
              DEFAULT: "#333fff",
              '50': '#ebf3ff',
              '100': '#dbe8ff',
              '200': '#bed5ff',
              '300': '#97b7ff',
              '400': '#6e8dff',
              '500': '#4c65ff',
              '600': '#333fff',
              '700': '#2027e2',
              '800': '#1d26b6',
              '900': '#20298f',
              '950': '#131653',
            },
            "tertiary": {
              DEFAULT: "#2e6ae8", '50': '#eff6ff',
              '100': '#dceafd',
              '200': '#c0dcfd',
              '300': '#95c6fb',
              '400': '#63a6f7',
              '500': '#3e85f3',
              '600': '#2e6ae8',
              '700': '#2052d5',
              '800': '#2142ac',
              '900': '#203c88',
              '950': '#182753',
            },
            "quaternary": {
              DEFAULT: "#2ecce8", '50': '#edfdfe',
              '100': '#d1f8fc',
              '200': '#a8f0f9',
              '300': '#6ce2f4',
              '400': '#2ecce8',
              '500': '#0daecd',
              '600': '#0d8bad',
              '700': '#12708c',
              '800': '#185a72',
              '900': '#184c61',
              '950': '#0a3142',
            },
            "quinary": {
              DEFAULT: "#33ffe7", '50': '#eefffc',
              '100': '#c5fff7',
              '200': '#8bfff2',
              '300': '#33ffe7',
              '400': '#14eddb',
              '500': '#00d1c1',
              '600': '#00a8a0',
              '700': '#008580',
              '800': '#056a67',
              '900': '#0a5755',
              '950': '#003435',
            },
            "white": "#fff",
            "white-dim": "#eee"
          },
        }
      }
    }
  </script>
  {{/*  MarkdownCSS  */}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.6.0/github-markdown.min.css" integrity="sha512-piMMx1q6Eqc47qlQaLBQi71vAQmVhKX4QK4EBQvzm1QvqS/CC1y8ZxaOoqi7sf4XPEVAH+j0JD6pAZroK1StXA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {{/*  My styles  */}}
  <link rel="stylesheet" href="./css/style.css">

  {{/* TODO: fix this */}}
  <script src="./js/main.js"></script>
</head>