<div class="flex justify-center border-b-2 border-b-primary mb-3">
    <header class='py-4 px-4 min-h-[80px] w-full lg:max-w-6xl tracking-wide relative z-50'>

        <div class='flex justify-between items-center gap-5'>
            {{/* LOGO */}}
            <a href="/"class="flex align-center">
                <img class="w-14 pr-2" src="/img/RocketOnly.png" alt="logo" />
                <h4 class="text-gray-300 text-xl m-auto">ssebs</h4>
            </a>
            
            {{/*  Right justify stuff  */}}
            <div class="flex justify-end m-0 gap-4">
                {{/* SEARCH */}}
                <div class="flex">
                    <div
                        class='flex w-48 px-3 py-2 outline outline-transparent border border-neutral-700 focus-within:border-l-primary text-gray-400'
                        >

                        <input type='text' placeholder='Search...'
                            class='w-full text-sm bg-transparent rounded outline-none' />
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.904 192.904" width="16px"
                            class="cursor-pointer fill-gray-400">
                            <path
                                d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z">
                            </path>
                        </svg>
                    </div>
                </div>

                {{/* MENU + ITEMS */}}
                <nav 
                    id="collapseMenu"
                    class='max-lg:hidden max-lg:w-full max-lg:fixed max-lg:before:fixed max-lg:before:bg-black max-lg:before:opacity-50 max-lg:before:inset-0 max-lg:before:z-50 flex items-center'
                    >

                    <button id="toggleClose" class='lg:hidden fixed top-2 right-4 z-[100] rounded-full bg-white p-3'>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 fill-white" viewBox="0 0 320.591 320.591">
                            <path
                                d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
                                data-original="#000000"></path>
                            <path
                                d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
                                data-original="#000000"></path>
                        </svg>
                    </button>

                    {{- $currentPage := . }}
                    <ul
                        {{/*  class='lg:flex lg:ml-14 lg:gap-x-5 max-lg:space-y-3 max-lg:fixed max-lg:bg-white max-lg:w-1/2 max-lg:min-w-[300px] max-lg:top-0 max-lg:left-0 max-lg:p-6 max-lg:h-full max-lg:shadow-md max-lg:overflow-auto z-50'  */}}

                            class="flex gap-3"

                        >
                        {{/*  <li class='mb-6 hidden max-lg:block'>
                            <a href="javascript:void(0)"><img src="https://readymadeui.com/readymadeui.svg" alt="logo"
                                    class='w-36' />
                            </a>
                        </li>  */}}

                        {{ $textColorActive := "text-gray-500" }}
                        {{ $extURL := false }}

                        {{- range site.Menus.main }}
                        {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL
                        }}
                        {{- $page_url:= $currentPage.Permalink | absLangURL }}
                        <li class='max-lg:border-b max-lg:py-3'>

                            {{- if eq $menu_item_url $page_url }}
                            {{ $textColorActive = "text-primary-500" }}
                            {{ else }}
                            {{ $textColorActive = "text-gray-300" }}
                            {{- end }}

                            {{- if (findRE "://" .URL) }}
                            {{ $extURL = true }}
                            {{- end }}

                            <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}"
                                class="lg:hover:text-primary {{ $textColorActive }} block font-semibold text-[15px]" {{-
                                if $extURL}}target="_blank" {{- end }}>
                                <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
                                    {{- .Name | safeHTML -}}

                                    {{ if $extURL}}
                                    {{/* Add arrow icon showing external page */}}
                                    <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor"
                                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                                        viewBox="0 0 24 24" height="12" width="12"
                                        style="display: inline; vertical-align: top;">
                                        <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                                        <path d="M15 3h6v6"></path>
                                        <path d="M10 14L21 3"></path>
                                    </svg>
                                    {{- end }}
                                </span>
                            </a>
                        </li>
                        {{- end }}

                    </ul>
                </nav>

                <button id="toggleOpen" class='lg:hidden ml-auto'>
                    <svg class="w-7 h-7 fill-white-dim" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
    </header>
</div>

<script type="text/javascript">
    var toggleOpen = document.getElementById('toggleOpen');
    var toggleClose = document.getElementById('toggleClose');
    var collapseMenu = document.getElementById('collapseMenu');

    function handleClick() {
        if (collapseMenu.style.display === 'block') {
            collapseMenu.style.display = 'none';
        } else {
            collapseMenu.style.display = 'block';
        }
    }

    toggleOpen.addEventListener('click', handleClick);
    toggleClose.addEventListener('click', handleClick);
</script>