<div class="hero grid items-center justify-center my-6 w-full">
    <div class="hero-content grid items-center justify-center md:max-w-4xl w-full">
        <div
            class="max-mw-[40rem] p-6 grid md:grid-cols-2 
             
            {{/*
            bg-neutral-800 drop-shadow-2xl rounded-t-md border-b-2 border-primary 
            */}}
            ">
            <img class="mx-auto rounded-md " title="A photo of my at my wedding."
                src="./img/me_wedding.jpg" width="256px" height="256px" />

            <div class="flex flex-col justify-between my-6 md:text-lg text-white">
                <h1 class="md:text-3xl text-2xl mb-4">Hey, I'm Sebastian Safari</h1>
                <p class="">
                    I'm an <span class="font-medium" title="Site Reliability Engineer"> SRE </span> who likes to make
                    side
                    projects.
                    <br class="my-1">
                    Some of them are even useful!
                </p>
                <div class="flex mx-0 mt-6 gap-6">
                    <a href="./projects">
                        <div
                            class="p-2 rounded-xl border border-quinary bg-quinary text-neutral-900 hover:bg-secondary hover:border-secondary hover:text-white">
                            The <span class="font-semibold">useful</span>
                            projects
                        </div>
                    </a>
                    <a href="./about">
                        <div
                            class="p-2 rounded-xl border border-primary hover:bg-secondary hover:border-secondary">
                            Who
                            am I?</div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>