<div id="hero" class="hero grid items-center justify-center w-full border-b-2 border-primary">
    <div class="hero-content grid items-center justify-center md:max-w-4xl w-full">
        <div
            class="max-mw-[40rem] p-6 bg-neutral-800 drop-shadow-2xl rounded-t-md border-b-2 border-primary grid grid-cols-2 ">
            <div class="flex flex-col justify-between my-6">
                <h1 class="text-2xl mb-4">Hey, I'm Sebastian Safari</h1>
                <p class="">
                    I'm an <span class="font-medium" title="Site Reliability Engineer"> SRE </span> who likes to make
                    side
                    projects.
                    <br class="my-1">
                    Some are even useful!
                </p>
                <div class="flex mx-0 mt-6 gap-6">
                    <a href="/projects">
                        <div
                            class="p-2 rounded-xl border border-quinary hover:drop hover:bg-quinary hover:text-neutral-900">
                            The <span class="font-semibold">useful</span>
                            projects
                        </div>
                    </a>
                    <a href="/about">
                        <div
                            class="p-2 rounded-xl border border-primary hover:drop hover:bg-primary hover:text-neutral-900">
                            Who
                            am I?</div>
                    </a>
                </div>
            </div>
            <img class="md:row-auto row-start-1 mx-auto rounded-md transition hover:scale-150"
                title="A photo of my at my wedding." src="/img/me_wedding.jpg" width="256px" height="256px" />
        </div>
    </div>
</div>

{{/*
Hover overlay
<div id="overlay" class="overlay"></div>
<script>
    const hero = document.getElementById("hero");
    const overlay = document.getElementById('overlay');
    let radius = 0;

    hero.addEventListener("mouseover", e => {
        radius = 100;
        badName(e)
    });
    hero.addEventListener("mouseout", e => {
        radius = 0;
        badName(e)
    })
    document.addEventListener("mousemove", badName);

    function badName(event) {
        const mouseX = event.clientX;
        const mouseY = event.clientY + window.pageYOffset;
        overlay.style.clipPath = `circle(${radius}px at ${mouseX}px ${mouseY}px)`;
    }
</script>
*/}}