<div class="hero grid items-center justify-center w-full border border-red-500 ">
    <div class="hero-content grid md:grid-cols-2 gap-6 items-center justify-center md:max-w-4xl w-full">
        <div class="max-mw-[40rem] bg-neutral-800 p-6 drop-shadow-lg rounded-t-md border-b-2 border-primary">
            <h1 class="text-2xl mb-4">Hey, I'm Sebastian Safari</h1>
            <p class="">
                I'm an SRE who likes to make side projects.
                <br>
                Some are even useful!
            </p>
            <div class="flex mx-0 mt-6 gap-6">
                <div class="p-2 rounded-xl border border-quinary">Check out the <span class="font-medium">useful</span>
                    ones</div>
                <div class="p-2 rounded-xl border border-primary">Who am I?</div>
            </div>
        </div>
        <img class="mx-auto rounded-full outline outline-neutral-700" src="/img/me_wedding.jpg" width="256px" height="256px" />
    </div>
</div>