<div class="bg-neutral-800 p-6 drop-shadow-lg rounded-t-xl border-b-2 border-primary">
  {{/* <div class="border border-red-500">
    {{ .Scratch.Set "onclick" "window.alert('test')" }} {{ .Scratch.Set
    "color" "primary" }} {{ .Scratch.Set "label" "Test button" }} {{ partial
    "components/button.html" . }}
  </div> */}}
  
  <div class="self-center"> <img class="rounded-full" src="/img/me_wedding.jpg" width="256px" height="256px" /> </div>

  <div class="post-content">{{ .Content }}</div>
</div>