{{/* We're in a Page */}}
{{- $bg := "bg-neutral-900" }}
{{- if .Params.SectionBG }} {{- $bg = .Params.SectionBG }} {{- end }}

<section class="{{ $bg }} flex justify-center w-full">
    <div class="grid lg:max-w-6xl md:max-w-4xl w-full p-6 justify-start text-xl ">
        {{/* Title */}}
        <h3 class="text-3xl font-bold">{{- .Params.ShortDesc | safeHTML -}}</h3>

        {{/* Default to text only if no feature */}}
        {{- $cols := "" -}}
        {{- if .Params.Feature -}}
        {{- $cols = "md:grid-cols-2"}}
        {{- end}}

        {{/* Text content + feature */}}
        <div class="text-white-dim grid gap-4 {{ $cols }} ">
            <div class="post-content text-lg">
                {{- .Summary -}}
                {{/* {{- .Params.Description | markdownify -}} */}}
            </div>
            <div>
                {{- with .Params.Feature }}
                {{- . | markdownify -}}
                {{- end}}
            </div>
        </div>

        {{/* If the section page has subpages, render top 3 */}}
        {{ if .Pages }}
        <div class="grid md:grid-cols-3 auto-rows-fr gap-4 mb-6">
            {{ range $idx, $page := .Pages }}
            {{ if lt $idx 3}}
            {{ partial "card.html" $page }}
            {{ end }}
            {{ end }}
        </div>
        {{- else }}
        <div class=""></div>
        {{- end }}

        {{/* C2A */}}
        {{- if not .Params.NoC2A -}}
        <a class="text-base p-3 max-w-fit bg-quaternary text-neutral-900 hover:bg-quinary font-medium rounded-md"
            href="{{- .RelPermalink -}}">
            {{- with .Params.C2AText -}}{{ . }}{{- else -}} See more...{{- end -}}
        </a>
        {{- end }}
    </div>
</section>
