{{/* We're in a range site.Menus.main */}}
{{- with .Page }}

{{- $bg := "bg-neutral-800" }}
{{- if .Params.SectionBG }} {{- $bg = .Params.SectionBG }} {{- end }}

<section class="section {{ $bg }} flex justify-center w-full min-h-[30rem]">
    <div class="grid lg:max-w-6xl md:max-w-4xl justify-start gap-4 w-full p-6 text-xl">
        <h3 class="text-3xl font-bold">{{- .Params.ShortDesc | safeHTML -}} </h3>
        <div>
            {{/*  Get first paragraph  */}}
            {{- index (split .Content "</p>" ) 0 | safeHTML -}}
        </div>
        
        {{/* Get a list of the top projects, and grab their description + img to share */}}
        {{/* If the section page has subpages, render those */}}
        {{ if .Pages }}
        <div class="grid md:grid-cols-3 auto-rows-fr gap-6 my-6">
            {{ range .Pages }}
            <a href="{{- .RelPermalink -}}">
                <div class="grid gap-4 p-6 bg-neutral-900 drop-shadow-2xl rounded-t-md border-b-2 border-b-primary">
                    <div class="text-xl font-medium">
                        {{ .Title }}
                    </div>
                    
                    {{- if .Params.feature }}
                    <img src="{{- .Params.feature | safeHTML -}}" alt="{{- .Params.feature | plainify -}}" width="auto">
                    {{- end}}

                    <p class="text-lg text-white-dim">{{- .Params.ShortDesc | safeHTML -}} </p>
                    <div class="tag-box flex flex-wrap gap-2 text-base">
                        {{ range .Params.tags }}
                        <div class="px-2 text-quaternary rounded-md border border-quaternary">
                            {{ . }}
                        </div>
                        {{- end }}
                    </div>
                </div>
            </a>
            {{ end }}
        </div>
        {{ end }}

        <div class="p-4 max-w-fit bg-quinary text-neutral-900 hover:bg-primary font-medium rounded-md">
            <a href="{{- .RelPermalink -}}">
                See more...
            </a>
        </div>
    </div>
</section>
{{- end }}