{{/* TODO: fun positioning? */}}
<div class="flex gap-2 flex-col bg-neutral-900 p-3 drop-shadow-lg rounded-t-xl border-b-2 border-primary">
    <div class="mx-3">
        <img class="mx-auto w-full my-4 rounded-md border-2 border-primary"
            title="A photo of my at my wedding." src="./img/me_wedding.jpg" />

        <div class="border-b border-neutral-600 flex justify-between mb-2 font-semibold">
            <h4>Sebastian Safari</h4>
            {{/* {{ .Inner | markdownify}} */}}
        </div>
        <p class="text-white-dim">Professional fixer, hobbyist figure-outer.</p>

        <div class="grid py-3">
            {{- if not (strings.Contains .Page.RelPermalink "/about/") -}}
            <a href="./about"
                class="rounded-md underline border-b-1 border-b-primary text-quaternary hover:text-quinary">
                Learn more about me.
            </a>
            {{- end -}}
            {{- if not (strings.Contains .Page.RelPermalink "/contact/") -}}
            <a href="./contact"
                class="rounded-md underline border-b-1 border-b-primary text-quaternary hover:text-quinary">
                Contact me!
            </a>
            {{- end -}}
            {{- if not (strings.Contains .Page.RelPermalink "/blog/") -}}
            <a href="./blog"
                class="rounded-md underline border-b-1 border-b-primary text-quaternary hover:text-quinary">
                See what I've been up to.
            </a>
            {{- end -}}
        </div>

        <div class="flex justify-center flex-wrap gap-3 py-3">
            <a href="./tags/python"
                class="px-2 py-1 rounded-md border border-quinary text-quinary hover:bg-quinary hover:text-black">python</a>
            <a href="./tags/golang"
                class="px-2 py-1 rounded-md border border-quinary text-quinary hover:bg-quinary hover:text-black">golang</a>
            <a href="./tags/webdev"
                class="px-2 py-1 rounded-md border border-quaternary text-quaternary hover:bg-quaternary hover:text-black">Web
                Dev</a>
            <a href="./about"
                class="px-2 py-1 rounded-md border border-quaternary text-quaternary hover:bg-quaternary hover:text-black">DevOps</a>
            <a href="./projects"
                class="px-2 py-1 rounded-md border border-primary text-primary hover:bg-primary hover:text-black">
                More projects
            </a>
        </div>
        <ul class="flex justify-around gap-3 py-3">
            {{- partial "socials.html" (dict "color" "#33ffe7" "iconsize" "1.75rem") }}
        </ul>
    </div>
</div>