// index.scss - ssebs.com styles

//Variables
$col1: #41afff;
$col2: #333fff;
$col3: #2e6ae8;
$col4: #2ecce8;
$col5: #33ffe7;

$txt1: #292d33; //$gray5
$txt2: #000;
$txt3: #a9b9d1; //$gray1
$txt4: #fff; //$white1

$gray1: #a9b9d1;
$gray2: #768091;
$gray3: #424852;
$gray4: #393e46;
$gray5: #292d33;

$white1: #fff;
$white2: #eee;

$font: "Baloo Bhai 2", "Roboto", "Ubuntu", "Droid Sans", sans-serif;

// Bootstrap overrides
$theme-colors: (
  "primary": #41afff,
  "secondary": #33ffe7,
  "light": #eee
);
.card {
  width: 250px;
  .card-text {
    padding: 1.25rem;
    font-size: 14px;
  }
}
.icon {
  font-size: 5rem;
}
.text-tertiary {
  color: $col2;
}
.title {
  color: $col1;
  font-weight: bold;
  font-size: 4rem;
}
.subtitle {
  padding-left: 1rem;
  color: $col2;
}
.w-100 {
  width: 100%;
}
.mw-450 {
  max-width: 450px;
}
.big-text {
  font-size: 6rem;
  line-height: 0.8;
  text-align: right;
  color: #2e3338;
}

// Other styles
* {
  font-family: $font;
}
body {
  color: $txt1;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white2 !important;
}
ul {
  list-style-type: none;
}

@import "bootstrap/scss/bootstrap";
