$primary: #41afff;
$secondary: #2697f9;
$tertiary: #28ffa9;
$lighter: #fbfbfb;

@import "../node_modules/bootstrap/scss/bootstrap";

html {
    scroll-behavior: smooth;
}
body {
    background-color: $white;
}
.text-tertiary {
    color: $tertiary !important;
}
li a i {
    color: $light;
}
.navbar {
    .navbar-brand {
        font-size: 1.85rem;
    }
    .nav-link {
        font-size: 1.25rem;
        &:link,
        &:visited {
            color: $lighter;
        }
    }
}
.banner {
    height: 500px;
    color: $white;
    h1 {
        margin-top: 1.5rem;
    }
}
.react-parallax-content {
    color: $white;
    font-weight: bold;
}
.header {
    color: $secondary;
    font-size: 2.25rem;
    text-decoration: underline;
    padding: 0.5rem;
    font-weight: bolder;
}
.card {
    background-color: $lighter;
    .card-header {
        color: $lighter;
        font-weight: bold;
        font-size: 1.15rem;
        background-color: $secondary;
    }
}
.cards {
    height: 100%;
    top: 0;
    box-shadow: none;
    transition: ease 0.2s;
    &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: relative;
        top: -5px;
        cursor: pointer;
    }
}
footer {
    height: 150px;
    background-color: $secondary;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-item {
        padding: 1rem 2rem;
        h4 {
            font-weight: bolder;
            color: $tertiary;
        }
        ul {
            padding: 0px;
            li {
                display: inline-block;
                padding: 0px 1rem;
            }
        }
    }
    @media screen and (max-width: 550px) {
        display: block;
        height: 100%;
    }
}
.sub-footer {
    background-color: $primary;
    padding: 1rem;
    color: $white;
}

.contact-card {
    border: 1px solid $tertiary;
    background-color: $primary;
    color: $white;
    margin-top: 120px;
    padding: 90px 1rem 1rem 1rem;
    position: relative;
    img {
        position: absolute;
        margin: auto;
        display: block;
        top: -110px;
        left: 50%;
        margin-left: -90px;
    }
    a {
        color: $tertiary;
    }
}
