{{ $galleryDir := .Get "gallery_dir" }}
{{ $imgWidth := .Get "width" }}
{{ $images := readDir (printf "static%s" $galleryDir) }}

<div class="gallery">
  {{ range $images }}
    {{ if .IsDir }}
      {{ continue }}
    {{ end }}
    <div class="gallery-item">
      <img src="{{ $galleryDir }}/{{ .Name }}" width="{{- $imgWidth -}}" alt="Gallery Image" onclick="openLightbox(event)">
    </div>
  {{ end }}
</div>

<div id="lightbox" class="lightbox" onclick="closeLightbox()">
  <span class="close" onclick="event.stopPropagation();">&times;</span>
  <div class="lightbox-container" onclick="event.stopPropagation();">
    <a class="prev" onclick="changeImage(-1); event.stopPropagation();">&#10094;</a>
    <img id="lightbox-img" class="lightbox-content" style="display: none;">
    <a class="next" onclick="changeImage(1); event.stopPropagation();">&#10095;</a>
  </div>
</div>

<style>
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax({{- $imgWidth -}}, 1fr));
  gap: 1rem;
}
.gallery-item img {
  width: {{- $imgWidth -}};
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}
.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lightbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 90%;
  max-height: 80%;
}
.lightbox-content {
  max-width: 90%;
  max-height: 80%;
  display: block;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.prev, .next {
  font-size: 30px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.prev { left: 10px; }
.next { right: 10px; }
</style>

<script>
let currentIndex = 0;
let images = [];

document.addEventListener("DOMContentLoaded", () => {
  images = Array.from(document.querySelectorAll(".gallery-item img"));
  closeLightbox()
});

function openLightbox(event) {
  const lightbox = document.getElementById("lightbox");
  const lightboxImg = document.getElementById("lightbox-img");
  lightbox.style.display = "flex";
  lightboxImg.style.display = "block";
  lightboxImg.src = event.target.src;
  currentIndex = images.indexOf(event.target);
}

function closeLightbox() {
  document.getElementById("lightbox").style.display = "none";
}

function changeImage(direction) {
  currentIndex += direction;
  if (currentIndex < 0) {
    currentIndex = images.length - 1;
  } else if (currentIndex >= images.length) {
    currentIndex = 0;
  }
  const lightboxImg = document.getElementById("lightbox-img");
  lightboxImg.style.display = "block";
  lightboxImg.src = images[currentIndex].src;
}
</script>
